# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Backend / Node.js
dist/
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Uploads / Data
uploads/
backend/uploads/
*.sqlite
*.db

# macOS / OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel
docs/
